NODE_ENV=development
PORT=3001
JWT_SECRET=secret
API_URL=http://localhost:3001
DIRECT_URL=postgresql://username:password@host:port/database
DATABASE_URL=postgresql://username:password@host:port/database
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
REDIS_URL=redis://localhost:6379
FRONTEND_URL=http://localhost:3000
AWS_REGION=us-east-1
S3_PRIVATE_BUCKET=""
S3_LAB_PROCESSING_BUCKET=""
SQS_PROCESSING_QUEUE_URL=https://sqs.us-east-1.amazonaws.com
SQS_TEMPUS_LAB_QUEUE_URL=https://sqs.us-east-1.amazonaws.com
CLOUDWATCH_LOG_ARN=""
CLOUDWATCH_LOG_GROUP=""
MEDICAL_RECORDS_PROCESSING_CRON="*/5 * * * *"
RUN_MEDICAL_RECORDS_PROCESSING_ON_START="true"