NODE_ENV=development
PORT=3001
JWT_SECRET=secret
API_URL=http://localhost:3001
DIRECT_URL=postgresql://username:password@host:port/database
DATABASE_URL=postgresql://username:password@host:port/database
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
REDIS_URL=redis://localhost:6379
